html{
    background-color: #101115;
   }
  
  
   *{
    --main-color: #bbb;
   }
  
  .card {
   margin: 5rem 0 ;
  /* background-color: aliceblue; */
  }
  
  
  .main_sponsors{
  display: grid;
  }
  
  
  .main_sponsors .oursp{
  margin: 2rem 0 0 0 ;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: aqua;
  margin-inline: 10px;
  
  }
  
  
  .card .card-container {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  align-items: center;
  gap: 2.5rem;
  padding: 0 5rem;
  }
  
  
  .card-container .card-box{
  position: relative;
  display: flex;
  width: 200wh;
  height: 200wh;
  border-radius: 2rem;
  background-color: #bbb;
  box-shadow: 0 0 1rem rgba(0, 0,0,.1);
  overflow: hidden;
  }
  
  .card-box img{
  width: 100%;
    height: 100%;
    transition: .5s ease;
  }
  
  .card-box:hover img{
  transform: scale(1.1);
  }
  
  
  .card-box .card-layer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 1rem rgba(0, 0,0,.1);
  background: linear-gradient(var(--main-color),rgba(198, 198, 198, 0.138));
  /* color : black; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0;
  opacity: 0;
  transition: .5s ease;
  }
  
  
  
  
  
  .card-box:hover .card-layer{
  opacity: 1;
  
  }
  
  
  
  .card-layer h4{
  font-size: 3rem;
  color : rgb(0, 0, 0);
  margin-bottom: 5rem;
  }
  
  
  .card-layer p{
  font-size: 2.4rem;
  color : rgb(0, 0, 0);
  margin: .3rem 0 1rem;
  }
  
  
  .card-layer a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  margin-top: 30px;
  }
  
  
  
  .i{
  font-size: 3rem;
  color: black;
  margin-top: 4px;
  }
  
  
  @media screen and (max-width : 1024px){
  
  
    .card .oursp{
        margin-top: 20rem;
    }
  
  }
  
  /* @media (max-width: 991px) {
    .card .oursp{
        margin-top: 10rem;
    }
  } */
  
  @media (max-width: 768px){
    .cards .oursp{
        /* margin-top: 10rem; */
        /* font-size: 3vw; */
    }
  
    .card .card-container{
        grid-template-columns: repeat(2,1fr);
    }
  }
  
  @media  (max-width : 617px) and (min-width: 300px){
  
    .cards .oursp{
        margin-top: 270rem;
        /* font-size: 3vw; */
    }
    .card .card-container{
        grid-template-columns: 1fr;
    }
  
  }