@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');
.main{
  /* padding-bottom: 10vh; */
  /* background-color:green; */
  display: flex;
  height: 100vh;
  flex-direction:row;
  /* background-color:#101115; */
  justify-content: space-around;
  /* justify-content: center; */
  
}

#h1_head{
  text-align: center;
  /* color : white; */
  background: transparent;
  padding:  5px;
  font-size: 4.5vw;
  font-family: 'Cinzel', serif;
  color: #56f2e6; 
  border-bottom: 5px solid red;
  margin-bottom: 20px;
}

p{
  text-align: center;
  font-size: 30px;
  color : white;
  padding-bottom: 8vh;
}

/* section{
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 30px;
} */

.register{
  /* max-width: 968px; */
  /* width: 90vh; */
  /* border: 1px solid #e9ecef; */
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  /* background-color: rgb(255, 255, 255); */
  /* backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(43, 43, 43, 0.75); */
  border-radius: 12px;
  /* border: 1px solid rgba(255, 255, 255, 0.125); */
  height: 100%;
  width: 45%;
}
.numbers{
  display: flex;
  /*background-color:aqua;
  */border-radius: 10x;
  width: 90%;
  height: 60%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  text-align: start;
  gap: 10px;
  padding: 10px;
  font-family: 'Cinzel', serif;
font-family: 'Noto Serif', serif;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  /* background-color: rgba(43, 43, 43, 0.75); */
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  box-shadow: 0 0 5px #31afaf, 0 0 15px #31afaf, 0 0 15px #31afaf, 0 0 6px #31afaf;

}
.namesof{
  text-shadow: none;
  color: #f31414;
  font-weight: bold;
}
.name{
  font-size: 30px;
  text-decoration: none;
}
.a_tag{
  text-decoration: none;
  color: #56f2e6;
  font-size: 80%;
}
.touch{
  font-size: 1.5vw;
}
#feedback{
  font-size: 4vw;
  color: #56f2e6;
  font-family: 'Cinzel', serif;
  border-bottom: 5px solid red;


  
}

.btn{
  background-color: rgb(251, 0, 0);

  color: #e9ecef;
  border-radius: 10px;
  padding: 20px 50px;
  border: none;  
  cursor: pointer;
}


.btn:hover{
  background-color: #e9ecef;
  color :rgb(179, 73, 200);
  transition: 0.2s ease;
 }

.form_contactus{ display: flex; /*background-color:rgb(58, 221, 40); */height:fit-content; width: 80%; justify-content: center; align-items: center; flex-direction: column; backdrop-filter: blur(16px) saturate(180%); -webkit-backdrop-filter: blur(16px) saturate(180%); background-color: rgba(43, 43, 43, 0.75); box-shadow: 0 0 5px #31afaf, 0 0 15px #31afaf, 0 0 15px #31afaf, 0 0 6px #31afaf; border-radius:10px ; padding: 20px; -webkit-border-radius:10px ; -moz-border-radius:10px ; -ms-border-radius:10px ; -o-border-radius:10px ;
}

input{ width: 60%; border-radius: 10px; background-color:black; color: white; margin: 30px; padding: 30px; border: none; box-shadow: rgb(254, 65, 100) 0px 0px 5px, rgb(254, 65, 100) 0px 0px 5px, rgb(254, 65, 100) 0px 0px 15px; -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px;
}
input::placeholder{
color: #56f2e6;
}

.left-div_contact{
width: 50%;
/* background-color: red; */
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

/* height: 200%; */

}
.title_name{
  font-weight: bold;
  text-shadow: rgb(254, 65, 100) 0px 0px 5px, rgb(254, 65, 100) 0px 0px 5px, rgb(254, 65, 100) 0px 0px 15px;
  color: white;
  
}
@media screen and (max-width : 1024px){
.main{
  /* padding-bottom: 10vh; */
  /* background-color:green; */
  display: flex;
  /* height: 100vh; */
  flex-direction:column;
  align-items: center;
  justify-content: center;
  height: max-content;
  /* background-color:#101115; */
  /* justify-content: center; */
}
.left-div_contact{
width: 98%;
padding:30px 0px;
/* background-color: red; */
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
/* height: 200%; */


}
.numbers{
  display: flex;
  background-color:aqua;
  padding: 10px;
  border-radius: 10px;
  width: 98%;
  height: 80%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  text-align: start;
  gap: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(43, 43, 43, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
.name{
  font-size: 4vw;
}

#h1_head{
  font-size: 8vw;
}
.register{
/* max-width: 968px; */
/* width: 90vh; */
/* border: 1px solid #e9ecef; */
border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
/* background-color: rgb(255, 255, 255); */

height: fit-content;
width: 90%;
}
.touch{
  font-size: 4vw;
}
#feedback{
  font-size: 8vw;
  margin: 20px;
  color: #56f2e6;
}
.form_contactus{
  width: 95%;
}
input{
padding: 15px;
width: 80%;
}
.btn{
  background-color: rgb(255, 14, 14);

  color: #31afaf;
  border-radius: 10px;
  padding: 10px 30px;
  border: none;  
  font-size:20px;
  font-weight: bold;
  cursor: pointer;
}
}